<%# Renders all flash messages. Rendered once in the application layout so views
    don't each repeat alert/notice markup. %>
<% flash.each do |type, message| %>
  <% next if message.blank? %>
  <%
    modifier = case type.to_s
               when "alert", "error" then "ah-flash--error"
               when "notice" then "ah-flash--notice"
               else "ah-flash--success"
               end
  %>
  <p class="ah-flash <%= modifier %> mb-5" id="<%= type %>"><%= message %></p>
<% end %>
