<%# locals: () %>

<%# Broadcast onto the /game page when the player beats the final level. The
    redirect controller visits the certificate on connect. %>
<div data-controller="redirect" data-redirect-url-value="<%= certificate_path %>" hidden></div>
